<% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile">
    <h2>まずは、あなたの基本プロフィールを登録しよう！/
    Let's register your basic profile！</h2>

    <p>Crossityは外国人と気軽に友達になれるサービスです！</p>

    <%= link_to "プロフィールを登録する/ Register Profile", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  </header>
<% else %>
  <div class="posting_form top_content clearfix">
    <header class="posting_header">
      <div class="posting_image icon_image" style="background-image: url(<%= current_user.avatar.url(:medium) %>);"></div>
      <div class="posting_user_info user_info">
        <%= current_user.nickname %>
      </div>
    </header>
    <%= form_for(@question) do |f| %>
      <%= f.text_field :when, placeholder: "日付/ Date and Time" %>

      <%= f.text_field :where, placeholder: "場所/ Location" %>
      <%= f.text_field :what, placeholder: "プラン/ Plan" %>
     <!--  <%= f.text_field :how_much, placeholder: "いくら/How Much" %> -->
      <%= f.submit "投稿/Post", disable_with: "送信中...." %>
    <% end %>


  </div>

  <%= render @feed_contents_resource %>


  <%= paginate(@feed_contents) %>

  <div class = "posting_user_info user_info">


  </div>
<% end %>
