<div class="question_content top_content">
  <header class="question_header">
    <div class="question_image icon_image" style="background-image: url(<%= question.user.avatar.url(:medium) %>);"></div>
    <div class="question_user_info user_info">
      <span><%= link_to question.user.nickname, user_path(question.user) %></span>
      <time><%= time_ago_in_words question.created_at %></time>
    </div>
  </header>
  <div class="question_body">
    <div class="question_box">
      <span class="q">When :</span>
      <span class="question_text"><%= question.when %></span>
    </div>

    <div class="question_box">
      <span class="q">Where :</span>
      <span class="question_text"><%= question.where %></span>
    </div>

    <div class="question_box">
      <span class="q">What :</span>
      <span class="question_text"><%= question.what %></span>
    </div>

  </div>

    <div class="questioned">
      <%= link_to "質問#{question.asks.count}件 参加#{question.participants.count}人", question_path(question) %>

    </div>


    <%= form_tag(new_question_path, method: :get, class: "question_submit") do %>
      <%= hidden_field_tag(:question_id, question.id) %>
      <%= submit_tag("質問/Ask") %>
    <% end %>

  <% unless question.participants.exists?(user_id: current_user.id)%>
    <div class="join_submit">
      <%= form_for (@participant) do |f| %>
        <%= f.hidden_field_tag(:question_id, question.id) %>
        <%= f.hidden_field_tag(:user_id, current_user.id) %>
        <%= f.hidden_field_tag(:number, "1") %>
        <%= f.hidden_field_tag(:nickname, current_user.nickname) %>
        <%= f.submit ("参加/Join") %>
      <% end %>
    </div>
  <% else %>
      <%= form_tag(participant_path(question.id), method: :delete, class: "join_submit") do %>
        <%= submit_tag ("キャンセル/Cancel") %>
      <% end %>

  <% end %>
</div>

